# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np 
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [27]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [28]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [30]:
chipo["Price_Float"]=pd.to_numeric(chipo["item_price"].str.slice(1))

In [32]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,Price_Float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [36]:
## How many orders for more than 10$ ?

(chipo["Price_Float"] >10).sum()

1130

In [37]:
product_prices = chipo.groupby("item_name").agg({"Price_Float" : "max"})

In [43]:
product_prices

                                       Price_Float
item_name
6 Pack Soft Drink                            12.98
Barbacoa Bowl                                11.75
Barbacoa Burrito                             11.75
Barbacoa Crispy Tacos                        18.50
Barbacoa Salad Bowl                          11.89
Barbacoa Soft Tacos                          11.75
Bottled Water                                15.00
Bowl                                         22.20
Burrito                                       7.40
Canned Soda                                   4.36
Canned Soft Drink                             5.00
Carnitas Bowl                                35.25
Carnitas Burrito                             18.50
Carnitas Crispy Tacos                        17.98
Carnitas Salad                                8.99
Carnitas Salad Bowl                          11.89
Carnitas Soft Tacos                          11.75
Chicken Bowl                                 32.94
Chicken Burrito                              35.00
Chicken Crispy Tacos                         17.50
Chicken Salad                                10.98
Chicken Salad Bowl                           22.50
Chicken Soft Tacos                           21.96
Chips                                         6.45
Chips and Fresh Tomato Salsa                 44.25
Chips and Guacamole                          17.80
Chips and Mild Fresh Tomato Salsa             3.00
Chips and Roasted Chili Corn Salsa            5.90
Chips and Roasted Chili-Corn Salsa            2.39
Chips and Tomatillo Green Chili Salsa         5.90
Chips and Tomatillo Red Chili Salsa           5.90
Chips and Tomatillo-Green Chili Salsa         4.78
Chips and Tomatillo-Red Chili Salsa           7.17
Crispy Tacos                                  7.40
Izze                                          3.39
Nantucket Nectar                              6.78
Salad                                         7.40
Side of Chips                                13.52
Steak Bowl                                   26.07
Steak Burrito                                27.75
Steak Crispy Tacos                           17.98
Steak Salad                                   8.99
Steak Salad Bowl                             23.78
Steak Soft Tacos                             18.50
Veggie Bowl                                  16.98
Veggie Burrito                               33.75
Veggie Crispy Tacos                           8.49
Veggie Salad                                  8.49
Veggie Salad Bowl                            11.25
Veggie Soft Tacos                            16.98

In [39]:
(product_prices["Price_Float"] >10).sum()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

##### Prob!!

In [78]:
# Group by 'item_name' and calculate average price
item_prices = chipo.groupby('item_name')['Price_Float'].mean().reset_index()

# Display the prices of each item
print(item_prices)

                                item_name  Price_Float
0                       6 Pack Soft Drink     6.610185
1                           Barbacoa Bowl    10.187273
2                        Barbacoa Burrito     9.832418
3                   Barbacoa Crispy Tacos    10.928182
4                     Barbacoa Salad Bowl    10.640000
5                     Barbacoa Soft Tacos    10.018400
6                           Bottled Water     1.867654
7                                    Bowl    14.800000
8                                 Burrito     7.400000
9                             Canned Soda     1.320577
10                      Canned Soft Drink     1.457641
11                          Carnitas Bowl    10.833971
12                       Carnitas Burrito    10.132712
13                  Carnitas Crispy Tacos    11.137143
14                         Carnitas Salad     8.990000
15                    Carnitas Salad Bowl    11.056667
16                    Carnitas Soft Tacos     9.398500
17                           Chicken Bowl    10.113953
18                        Chicken Burrito    10.082857
19                   Chicken Crispy Tacos    10.045319
20                          Chicken Salad     9.010000
21                     Chicken Salad Bowl    11.170455
22                     Chicken Soft Tacos     9.635565
23                                  Chips     2.342844
24           Chips and Fresh Tomato Salsa     3.285091
25                    Chips and Guacamole     4.595073
26      Chips and Mild Fresh Tomato Salsa     3.000000
27     Chips and Roasted Chili Corn Salsa     3.084091
28     Chips and Roasted Chili-Corn Salsa     2.390000
29  Chips and Tomatillo Green Chili Salsa     3.087209
30    Chips and Tomatillo Red Chili Salsa     3.072917
31  Chips and Tomatillo-Green Chili Salsa     2.544194
32    Chips and Tomatillo-Red Chili Salsa     2.987500
33                           Crispy Tacos     7.400000
34                                   Izze     3.390000
35                       Nantucket Nectar     3.641111
36                                  Salad     7.400000
37                          Side of Chips     1.840594
38                             Steak Bowl    10.711801
39                          Steak Burrito    10.465842
40                     Steak Crispy Tacos    10.209714
41                            Steak Salad     8.915000
42                       Steak Salad Bowl    11.847931
43                       Steak Soft Tacos     9.746364
44                            Veggie Bowl    10.211647
45                         Veggie Burrito     9.839684
46                    Veggie Crispy Tacos     8.490000
47                           Veggie Salad     8.490000
48                      Veggie Salad Bowl    10.138889
49                      Veggie Soft Tacos    10.565714

### Step 6. Sort by the name of the item

In [47]:
chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price,Price_Float
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [65]:
chipo["item_price"].max()

44.25

In [68]:
chipo.loc[chipo['item_price'].idxmax()]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Price_Float                                  44.25
Name: 3598, dtype: object

In [69]:
most_expensive_item = chipo.loc[chipo['item_price'].idxmax()]
quantity_most_expensive = most_expensive_item['quantity']
print("Quantity of the most expensive item ordered:", quantity_most_expensive)

Quantity of the most expensive item ordered: 15

In [64]:
most_expensive_item_name= chipo.groupby("item_name")["item_price"].max()
most_expensive_item_name

item_name
6 Pack Soft Drink                        12.98
Barbacoa Bowl                            11.75
Barbacoa Burrito                         11.75
Barbacoa Crispy Tacos                    18.50
Barbacoa Salad Bowl                      11.89
Barbacoa Soft Tacos                      11.75
Bottled Water                            15.00
Bowl                                     22.20
Burrito                                   7.40
Canned Soda                               4.36
Canned Soft Drink                         5.00
Carnitas Bowl                            35.25
Carnitas Burrito                         18.50
Carnitas Crispy Tacos                    17.98
Carnitas Salad                            8.99
Carnitas Salad Bowl                      11.89
Carnitas Soft Tacos                      11.75
Chicken Bowl                             32.94
Chicken Burrito                          35.00
Chicken Crispy Tacos                     17.50
Chicken Salad                            10.98
Chicken Salad Bowl                       22.50
Chicken Soft Tacos                       21.96
Chips                                     6.45
Chips and Fresh Tomato Salsa             44.25
Chips and Guacamole                      17.80
Chips and Mild Fresh Tomato Salsa         3.00
Chips and Roasted Chili Corn Salsa        5.90
Chips and Roasted Chili-Corn Salsa        2.39
Chips and Tomatillo Green Chili Salsa     5.90
Chips and Tomatillo Red Chili Salsa       5.90
Chips and Tomatillo-Green Chili Salsa     4.78
Chips and Tomatillo-Red Chili Salsa       7.17
Crispy Tacos                              7.40
Izze                                      3.39
Nantucket Nectar                          6.78
Salad                                     7.40
Side of Chips                            13.52
Steak Bowl                               26.07
Steak Burrito                            27.75
Steak Crispy Tacos                       17.98
Steak Salad                               8.99
Steak Salad Bowl                         23.78
Steak Soft Tacos                         18.50
Veggie Bowl                              16.98
Veggie Burrito                           33.75
Veggie Crispy Tacos                       8.49
Veggie Salad                              8.49
Veggie Salad Bowl                        11.25
Veggie Soft Tacos                        16.98
Name: item_price, dtype: float64

In [59]:
most_expensive_item_name.idxmax()

'Chips and Fresh Tomato Salsa'

In [70]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price,Price_Float
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [72]:
chipo_salad = chipo[chipo["item_name" ]== "Veggie Salad Bowl"]

len(chipo_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [75]:
chipo_soda = chipo[(chipo["item_name" ]== "Canned Soda")  & (chipo.quantity > 1) ]

len(chipo_soda)

20