In [2]:
expenses= [100,200,300,400,500]

len(expenses)

5

In [4]:
range (len(expenses))

range(0, 5)

In [31]:
total_expense= 0
for i in range(len(expenses)) :
  expense=expenses[i]
  print(f"Month {i+1} salary is: {expense}" )
  total_expense=total_expense+expense

print (f"Total salary :",total_expense)

Month 1 salary is: 100
Month 2 salary is: 200
Month 3 salary is: 300
Month 4 salary is: 400
Month 5 salary is: 500
Total salary : 1500

In [22]:
total_expenses= 0
for i in (expenses) :
  #expense=expenses[i]
  print(f"Month {i+1} salary is: {i}" )

Month 101 salary is: 100
Month 201 salary is: 200
Month 301 salary is: 300
Month 401 salary is: 400
Month 501 salary is: 500

### **Function**

In [41]:
def square(x) :
  return x**2
print(square(10))

100

In [ ]:
def square(x):
    return x**2

numbers = [5, 10, 25]
squared_numbers = []

for num in numbers:
    squared_numbers.append(square(num))

print(squared_numbers)  # Output: [25, 100, 625]

In [42]:
Tanji= [1000,2000,3000,400]
Evan=[900,100,2000,3000]

In [52]:
def salary(x):
  total_salary=0
  for i in x:
    total_salary=total_salary+i
  return total_salary ## Must reuturn function !
  ## Should be outside loop cause other wise it will store first iteration.

print(salary(Evan))

6000

## **LAMBDA,MAP,FIlTER**

In [54]:
t= lambda x: x*2
a=[1,2,3,4,5,6,7,8]

list(map(t,a))

[2, 4, 6, 8, 10, 12, 14, 16]

In [55]:
list(filter(lambda x:x%2==0 ,a))

[2, 4, 6, 8]

In [56]:
list(map(lambda x:x%2==0 ,a))

[False, True, False, True, False, True, False, True]