In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset 1.csv')  
print(df.head())

C:\Users\SPPL IT\AppData\Local\Temp\ipykernel_16424\2035206436.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('dataset 1.csv')

   Index        pH      Iron   Nitrate    Chloride Lead      Zinc  \
0      0  8.332988  0.000083  8.605777  122.799772  0.0  3.434827
1      1  6.917863  0.000081  3.734167  227.029851  0.0  1.245317
2      2  5.443762  0.020106  3.816994  230.995630  0.0  0.528280
3      3  7.955339  0.143988  8.224944  178.129940  0.0  4.027879
4      4  8.091909  0.002167  9.925788  186.540872  0.0  3.807511

            Color  Turbidity  Fluoride  ...  Chlorine     Manganese  \
0       Colorless   0.022683  0.607283  ...  3.708178  2.269945e-15
1    Faint Yellow   0.019007  0.622874  ...  3.292038  8.024076e-07
2    Light Yellow   0.319956  0.423423  ...  3.560224  7.007989e-02
3  Near Colorless   0.166319  0.208454  ...  3.516907  2.468295e-02
4    Light Yellow   0.004867  0.222912  ...  3.177849  3.296139e-03

   Total Dissolved Solids  Source  Water Temperature  Air Temperature  \
0              332.118789     NaN                NaN        43.493324
1              284.641984    Lake          15.348981        71.220586
2              570.054094   River          11.643467        44.891330
3              100.043838  Ground          10.092392        60.843233
4              168.075545  Spring          15.249416        69.336671

      Month   Day  Time of Day  Target
0   January  29.0          4.0     0.0
1  November  26.0         16.0     0.0
2   January  31.0          8.0     0.0
3     April   1.0         21.0     0.0
4      June  29.0          7.0     0.0

[5 rows x 24 columns]

In [8]:
df=df.drop("Index",axis=1)

In [12]:
df["Target"].value_counts()

Target
0.0    3202702
1.0    1323951
Name: count, dtype: int64

## Data-Preprocessing

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4526654 entries, 0 to 4526653
Data columns (total 23 columns):
 #   Column                  Dtype
---  ------                  -----
 0   pH                      float64
 1   Iron                    float64
 2   Nitrate                 float64
 3   Chloride                float64
 4   Lead                    object
 5   Zinc                    float64
 6   Color                   object
 7   Turbidity               float64
 8   Fluoride                float64
 9   Copper                  float64
 10  Odor                    float64
 11  Sulfate                 float64
 12  Conductivity            float64
 13  Chlorine                float64
 14  Manganese               float64
 15  Total Dissolved Solids  float64
 16  Source                  object
 17  Water Temperature       float64
 18  Air Temperature         float64
 19  Month                   object
 20  Day                     float64
 21  Time of Day             float64
 22  Target                  float64
dtypes: float64(19), object(4)
memory usage: 794.3+ MB

In [30]:
df

,pH,Iron,Nitrate,Chloride,Lead,Zinc,Color,Turbidity,Fluoride,Copper,...,Chlorine,Manganese,Total Dissolved Solids,Source,Water Temperature,Air Temperature,Month,Day,Time of Day,Target
1,6.917863,8.053827e-05,3.734167,227.029851,0.0,1.245317,Faint Yellow,0.019007,0.622874,0.437835,...,3.292038,8.024076e-07,284.641984,Lake,15.348981,71.220586,November,26.0,16.0,0.0
2,5.443762,2.010586e-02,3.816994,230.995630,0.0,0.528280,Light Yellow,0.319956,0.423423,0.431588,...,3.560224,7.007989e-02,570.054094,River,11.643467,44.891330,January,31.0,8.0,0.0
4,8.091909,2.167128e-03,9.925788,186.540872,0.0,3.807511,Light Yellow,0.004867,0.222912,0.616574,...,3.177849,3.296139e-03,168.075545,Spring,15.249416,69.336671,June,29.0,7.0,0.0
7,7.258203,6.107130e-09,9.261676,182.242341,0.0,0.416478,Colorless,0.047803,1.016196,0.298093,...,2.325094,6.020680e-16,214.553104,River,15.891905,61.139140,April,11.0,4.0,0.0
9,7.100650,3.019038e-03,3.620641,157.043934,0.0,0.112994,Colorless,0.050613,0.842107,0.391602,...,2.284971,8.840612e-07,113.909077,River,11.899376,14.010268,April,7.0,12.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4526646,7.943528,3.844300e-04,4.603387,123.565944,5.92797702782961e-28,0.084710,Colorless,0.011204,0.727575,0.391478,...,3.794726,3.459452e-03,82.838622,Reservoir,23.036959,43.894798,June,20.0,18.0,0.0
4526647,7.562762,4.556241e-05,5.806050,143.918683,6.056598130623456e-06,0.617157,Near Colorless,0.008524,0.803606,0.803561,...,3.673059,1.474214e-04,178.544823,Aquifer,47.432054,43.790876,June,6.0,18.0,0.0
4526648,8.289897,3.562471e-02,7.796272,235.663899,1.4509181901388822e-81,0.419840,Faint Yellow,0.469217,0.545946,0.634433,...,3.480691,3.423097e-05,271.990713,Reservoir,45.564324,16.731175,December,14.0,18.0,0.0
4526649,7.112696,5.830159e-03,5.148219,163.943117,7.025625122041432e-100,2.895333,Near Colorless,0.832413,1.386116,0.184431,...,3.851795,3.546918e-05,146.735100,Stream,3.260507,56.795574,June,13.0,11.0,0.0
4526652,7.849449,8.417387e-02,11.091238,109.539538,1.5839777158701162e-08,2.204365,Near Colorless,3.951850,2.858525,0.488019,...,5.229421,6.321361e-03,504.498442,River,21.035897,70.040839,August,7.0,6.0,0.0

In [32]:
df['Lead'] = pd.to_numeric(df['Lead'])

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3025762 entries, 1 to 4526652
Data columns (total 23 columns):
 #   Column                  Dtype
---  ------                  -----
 0   pH                      float64
 1   Iron                    float64
 2   Nitrate                 float64
 3   Chloride                float64
 4   Lead                    float64
 5   Zinc                    float64
 6   Color                   object
 7   Turbidity               float64
 8   Fluoride                float64
 9   Copper                  float64
 10  Odor                    float64
 11  Sulfate                 float64
 12  Conductivity            float64
 13  Chlorine                float64
 14  Manganese               float64
 15  Total Dissolved Solids  float64
 16  Source                  object
 17  Water Temperature       float64
 18  Air Temperature         float64
 19  Month                   object
 20  Day                     float64
 21  Time of Day             float64
 22  Target                  float64
dtypes: float64(20), object(3)
memory usage: 554.0+ MB

In [13]:
df.isna().sum()

pH                         87993
Iron                       30268
Nitrate                    80327
Chloride                  133284
Lead                       20379
Zinc                      118656
Color                       4347
Turbidity                  37925
Fluoride                  143819
Copper                    151897
Odor                      135592
Sulfate                   149935
Conductivity              124734
Chlorine                   43995
Manganese                  83288
Total Dissolved Solids      1285
Source                     67087
Water Temperature         127378
Air Temperature            22753
Month                      72541
Day                        75838
Time of Day                86730
Target                         1
dtype: int64

In [17]:
df.dropna(inplace=True)

In [18]:
df.isna().sum()

pH                        0
Iron                      0
Nitrate                   0
Chloride                  0
Lead                      0
Zinc                      0
Color                     0
Turbidity                 0
Fluoride                  0
Copper                    0
Odor                      0
Sulfate                   0
Conductivity              0
Chlorine                  0
Manganese                 0
Total Dissolved Solids    0
Source                    0
Water Temperature         0
Air Temperature           0
Month                     0
Day                       0
Time of Day               0
Target                    0
dtype: int64

## Feature Engineering

In [34]:
df = pd.get_dummies(df, columns=['Color', 'Source', 'Month'], drop_first=True)

In [35]:
df.head()

,pH,Iron,Nitrate,Chloride,Lead,Zinc,Turbidity,Fluoride,Copper,Odor,...,Month_December,Month_February,Month_January,Month_July,Month_June,Month_March,Month_May,Month_November,Month_October,Month_September
1,6.917863,8.053827e-05,3.734167,227.029851,7.849262e-94,1.245317,0.019007,0.622874,0.437835,1.686049,...,False,False,False,False,False,False,False,True,False,False
2,5.443762,2.010586e-02,3.816994,230.995630,5.286616e-76,0.528280,0.319956,0.423423,0.431588,3.414619,...,False,False,True,False,False,False,False,False,False,False
4,8.091909,2.167128e-03,9.925788,186.540872,4.171069e-132,3.807511,0.004867,0.222912,0.616574,0.795310,...,False,False,False,False,True,False,False,False,False,False
7,7.258203,6.107130e-09,9.261676,182.242341,4.399852e-224,0.416478,0.047803,1.016196,0.298093,3.144199,...,False,False,False,False,False,False,False,False,False,False
9,7.100650,3.019038e-03,3.620641,157.043934,6.459725e-148,0.112994,0.050613,0.842107,0.391602,2.713379,...,False,False,False,False,False,False,False,False,False,False

In [36]:
X = df.drop(columns=['Target'])  # Features
y = df['Target']               # Target variable

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [38]:
from sklearn.feature_selection import mutual_info_classif

In [39]:
information_gain = mutual_info_classif(X_train, y_train, discrete_features='auto')

In [40]:
information_gain

array([0.08729631, 0.03545844, 0.0377901 , 0.05143876, 0.00428318,
       0.01702457, 0.05184738, 0.0361829 , 0.04838708, 0.04758793,
       0.0274913 , 0.00704207, 0.03606301, 0.06827659, 0.03013968,
       0.00654613, 0.00693366, 0.01017599, 0.01419871, 0.02979563,
       0.02324764, 0.08846933, 0.03758133, 0.0150464 , 0.01478283,
       0.01431252, 0.01527373, 0.01489315, 0.01460781, 0.01419484,
       0.00689692, 0.00689475, 0.00533128, 0.00673618, 0.00683332,
       0.00691971, 0.00700474, 0.00707535, 0.00666844, 0.00671318,
       0.00636679])

In [42]:
ig_df = pd.DataFrame({'Feature': X.columns, 'Information Gain': information_gain})
ig_df.sort_values(by='Information Gain', ascending=False)

                   Feature  Information Gain
21    Color_Near Colorless          0.088469
0                       pH          0.087296
13               Manganese          0.068277
6                Turbidity          0.051847
3                 Chloride          0.051439
8                   Copper          0.048387
9                     Odor          0.047588
2                  Nitrate          0.037790
22            Color_Yellow          0.037581
7                 Fluoride          0.036183
12                Chlorine          0.036063
1                     Iron          0.035458
14  Total Dissolved Solids          0.030140
19      Color_Faint Yellow          0.029796
10                 Sulfate          0.027491
20      Color_Light Yellow          0.023248
5                     Zinc          0.017025
26            Source_River          0.015274
23           Source_Ground          0.015046
27           Source_Spring          0.014893
24             Source_Lake          0.014783
28           Source_Stream          0.014608
25        Source_Reservoir          0.014313
18             Time of Day          0.014199
29             Source_Well          0.014195
17                     Day          0.010176
37               Month_May          0.007075
11            Conductivity          0.007042
36             Month_March          0.007005
16         Air Temperature          0.006934
35              Month_June          0.006920
30            Month_August          0.006897
31          Month_December          0.006895
34              Month_July          0.006833
33           Month_January          0.006736
39           Month_October          0.006713
38          Month_November          0.006668
15       Water Temperature          0.006546
40         Month_September          0.006367
32          Month_February          0.005331
4                     Lead          0.004283